{{#standards}}
    <div class="info__block">
            <div class="info__block-container">
            <h2 class="h2 info__header">{{title}}</h2>
            <div class="info__select-box visibility">
                <button class="info-select-box__current icon icon_thin-angle-down info-select-box__icon">{{current}} г.</button>
                <div class="info-select-box__list nano info__nano">
                    <div class="nano-content">
                        {{#year}}
                            <div class="info-select-box__item {{addClass}}"><span class="info-select-box__value">{{name}}</span> г.</div>
                        {{/year}}
                    </div>
                </div>
            </div>
            <table class="info__table info__table-standards">
                <tbody>
                <tr>
                    <th>Пункт<br>Стандартов</th>
                    <th>Наименование</th>
                    <th>Дата<br>раскрытия</th>
                </tr>
                {{#standard}}
                    <tr class="{{activeClass}}" id="{{strId}}" data-filter="{{year}}">
                        <td>{{{standard}}}</td>
                        <td><noindex><a href="{{link}}" download  title="{{standard}}" rel="nofollow">{{{name}}}</a></noindex></td>
                        <td>{{date}}</td>
                    </tr>
                {{/standard}}
                </tbody>
            </table>
        </div>
    </div>
{{/standards}}