.breadcrumbs {
  text-align: center;
  padding-top: 15px; }

.breadcrumbs__item {
  font-weight: 300;
  color: #000;
  position: relative;
  padding-left: 16px;
  padding-right: 36px; }
  .breadcrumbs__item:before {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .breadcrumbs__item:hover .breadcrumbs-item__underline {
    border-bottom-color: transparent; }

.breadcrumbs-item__underline {
  border-bottom: solid 1px #b5b8b8;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.breadcrumbs__dest {
  color: #010101;
  font-weight: 300;
  padding: 0 16px; }
