.application {
  padding-top: 100px;
  padding-bottom: 55px;
  float: left; }

.application__tabpanels {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.application__tabpanel {
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .application__tabpanel_ready {
    display: none;
    opacity: 0;
    visibility: hidden; }
  .application__tabpanel_active {
    display: block; }
  .application__tabpanel_in {
    opacity: 1;
    visibility: visible; }

.application__tab-list-container {
  text-align: center; }

.application__tab-list {
  counter-reset: item;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block; }

.application__tab {
  float: left;
  width: 175px;
  background-color: #f5f9fa;
  color: #9b9e9e;
  text-align: left;
  position: relative;
  margin: 0 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  -webkit-box-shadow: inset -175px 0px 175px -88px #f5f9fa;
  -ms-box-shadow: inset -175px 0px 175px -88px #f5f9fa;
  box-shadow: inset -175px 0px 175px -88px #f5f9fa; }
  .application__tab:before {
    counter-increment: item;
    content: counter(item) ". ";
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: 17px;
    left: 25px; }
  .application__tab_active {
    color: #fff;
    background-color: #2e5a9d;
    -webkit-box-shadow: inset -175px 0px 175px -88px #2a66c1;
    -ms-box-shadow: inset -175px 0px 175px -88px #2a66c1;
    box-shadow: inset -175px 0px 175px -88px #2a66c1; }
    .application__tab_active .application-tab__link {
      color: #fff; }

.application-tab__link {
  display: inline-block;
  color: #9b9e9e;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 30px 14px 55px;
  width: 100%;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.application__calc-link {
  width: 100%;
  height: 60px;
  line-height: 58px;
  border: solid 1px #ccc;
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #000;
  font-weight: 300;
  border-radius: 2px; }

.application__calc-underline {
  padding-bottom: 1px;
  border-bottom: dashed 1px #000; }

.application__icon:before {
  color: #000;
  font-size: 26px;
  margin-right: 20px;
  vertical-align: middle; }

.application-form__btn {
  background-color: transparent;
  border: solid 2px #000;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px; }
  .application-form__btn_next {
    width: 260px;
    float: right; }
    .application-form__btn_next .application-form__icon:after {
      margin-left: 10px; }
  .application-form__btn_prev {
    width: 180px;
    float: left; }
    .application-form__btn_prev .application-form__icon:before {
      margin-right: 10px; }
  .application-form__btn:hover {
    border-color: #2e5a9d; }

.application-form__btn-link {
  color: #000;
  font-size: 16px;
  font-family: "GothamPro", sans-serif;
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 19px; }

.application-form__icon {
  position: relative; }
  .application-form__icon:after, .application-form__icon:before {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.application-form__header {
  margin-bottom: 20px; }

.application-form__table {
  width: 100%;
  border-collapse: collapse; }

.application-form__head-cell {
  text-align: left; }

.application-form__cell {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background-color: #fafcfc;
  border-bottom: solid 1px #edf2f2;
  border-left: solid 1px #edf2f2;
  padding: 22px; }
  .application-form__cell:first-child {
    background-color: #f5f9fa;
    border-left: none;
    width: 250px; }

.application-form__link {
  color: #2e5a9d;
  font-weight: 300;
  font-size: 12px;
  border-bottom: dashed 1px #2e5a9d;
  display: inline-block;
  margin-bottom: 20px; }

.application__textarea {
  height: 120px; }

.application__form {
  width: 620px;
  margin: auto; }
  .application__form .application__form-group {
    margin-top: 30px; }
    .application__form .application__form-group_small {
      width: 290px;
      float: left;
      margin-right: 40px; }
      .application__form .application__form-group_small:nth-child(even) {
        margin-right: 0; }
    .application__form .application__form-group_big-offset {
      margin-top: 60px; }
  .application__form .feedback-form__control:not(.feedback-form__control_type_file),
  .application__form .feedback-form__control_type_list_pseudo {
    color: #4c4c4c; }
    .application__form .feedback-form__control:not(.feedback-form__control_type_file)::-webkit-input-placeholder,
    .application__form .feedback-form__control_type_list_pseudo::-webkit-input-placeholder {
      color: #4c4c4c; }
    .application__form .feedback-form__control:not(.feedback-form__control_type_file):-ms-input-placeholder,
    .application__form .feedback-form__control_type_list_pseudo:-ms-input-placeholder {
      color: #4c4c4c; }
    .application__form .feedback-form__control:not(.feedback-form__control_type_file)::-moz-placeholder,
    .application__form .feedback-form__control_type_list_pseudo::-moz-placeholder {
      color: #4c4c4c; }

.application__checkbox {
  margin-left: 28px; }

.application__alert {
  width: 100%;
  font-size: 14px;
  color: #9b9e9e;
  font-weight: 300;
  border: dashed 1px #ccc;
  letter-spacing: 0.3px;
  line-height: 1.5;
  padding: 21px;
  border-radius: 3px; }

.application__counter {
  counter-reset: item; }

.application__counter-item {
  position: relative; }
  .application__counter-item:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    position: absolute;
    top: 21px;
    left: 30px;
    z-index: 1; }

.application__pseudo-file {
  font-size: 14px;
  color: #2e5a9d;
  letter-spacing: 0.3px;
  text-align: center; }
  .application__pseudo-file:before {
    margin-right: 10px;
    font-size: 19px; }
  .application__pseudo-file:hover .application__pseudo-file-link {
    border-bottom-color: transparent; }

.application__pseudo-file-link {
  border-bottom: dashed 1px #2e5a9d;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.application-form__submit-container {
  float: right;
  width: 260px; }
  .application-form__submit-container .application-form__submit {
    height: 60px;
    margin: 0; }
