.news {
  padding-bottom: 100px; }

.news__blocks {
  padding: 0px  144px 68px 144px; }

.news__block {
  margin-top: 96px; }

.news-block__title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-bottom: 22px;
  line-height: 1.4; }
  .news-block__title:hover {
    color: #2e5a9d; }
    .news-block__title:hover .news-block-title__underline {
      border-bottom-color: transparent; }

.news-block-title__underline {
  border-bottom: solid 1px #bcbcbc;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.news-block__date {
  color: #808080;
  font-size: 12px;
  margin-bottom: 23px; }

.news-block__text {
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 1.5;
  margin-bottom: 25px; }

.news__btn {
  width: 210px; }

.news__btn-link {
  font-size: 14px;
  font-weight: 300;
  padding-top: 11px;
  padding-bottom: 11px; }

.news__btn-icon:before {
  padding-right: 10px; }
