<div class="pager">
    <div class="pager-container">
        {{#pager}}
            {{#isBegin}}
                <span class="pager__nav icon icon_thin-angle-left" title="Предыдущая"></span>
            {{/isBegin}}
            {{#isNotBegin}}
                <a href="{{linkPrev}}" class="pager__nav icon icon_thin-angle-left" title="Предыдущая"></a>
            {{/isNotBegin}}
            {{#pages}}
                {{#isDest}}
                    <span class="pager__page pager__page_dest">{{nom}}</span>
                {{/isDest}}
                {{#isNotDest}}
                    <a href="{{link}}" class="link pager__page" title="{{nom}}">{{nom}}</a>
                {{/isNotDest}}
            {{/pages}}
            {{#isEnd}}
                <span class="pager__nav icon icon_thin-angle-right" title="Следующая"></span>
            {{/isEnd}}
            {{#isNotEnd}}
                <a href="{{linkNext}}" class="pager__nav icon icon_thin-angle-right" title="Следующая"></a>
            {{/isNotEnd}}
        {{/pager}}
    </div>
</div>