.contacts {
  padding-top: 100px;
  padding-bottom: 36px; }

.contacts__block {
  border: solid 1px #cccccc;
  padding: 43px;
  text-align: center;
  width: 500px;
  height: 190px;
  margin: 0 30px;
  float: left;
  border-radius: 2px; }

.contacts-block__icon {
  margin-bottom: 15px; }
  .contacts-block__icon:before {
    font-size: 35px;
    color: #2a66c1;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
    /* IE 8-9 */
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    /* Firefox 3.6-15 */
    /* IE 11 */
    /* Opera 11.1-12 */
    background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
    background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.contacts-block__title {
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 10px; }

.contacts-block__tel {
  font-size: 18px; }

.contacts-block__mail {
  font-size: 18px;
  color: #2e5a9d;
  padding-bottom: 1px;
  border-bottom: dashed 1px #2e5a9d;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .contacts-block__mail:hover {
    border-bottom-color: transparent; }

.contacts-map__container {
  margin-top: 92px;
  margin-bottom: 98px; }

.contacts-map__header {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.7px;
  margin-bottom: 15px; }

.contacts-map__subheader {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.45px;
  margin-bottom: 28px; }

.contacts__map {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative; }

.contacts-map__preloader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff url("/images/preloader.gif") no-repeat center center;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.contacts-download__container {
  text-align: center; }

.contacts__download-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: solid 1px;
  color: #2e5a9d;
  vertical-align: middle;
  margin-right: 17px; }
  .contacts__download-icon:before {
    font-size: 28px; }

.contacts__download-link {
  color: #2e5a9d;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.9px; }
  .contacts__download-link:hover .contacts__download-underlay {
    border-bottom-color: transparent; }

.contacts__download-underlay {
  border-bottom: solid 1px #2e5a9d;
  padding-bottom: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.contacts__tels-and-form {
  margin-top: 92px; }

.contacts__tels {
  padding: 0 29px;
  width: 50%;
  float: left; }

.contacts-tels__header {
  font-size: 36px;
  letter-spacing: 0.7px; }

.contacts-tels__container {
  margin-top: 25px; }

.contacts-tels__tel {
  padding-left: 45px;
  position: relative;
  margin-top: 48px; }
  .contacts-tels__tel:first-child {
    margin-top: 0; }

.contacts-tels__icon:before {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 22px;
  color: #2e5a9d;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.contacts-tels-tel__title {
  font-weight: 300;
  margin-bottom: 11px;
  letter-spacing: 0.3px; }

.contacts-tels__numbers {
  font-size: 18px;
  letter-spacing: 0.4px; }

.contacts__form {
  float: left;
  width: 50%;
  padding-left: 93px;
  padding-right: 29px; }
