.news-list {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 100px; }

.news-list__header {
  margin-bottom: 30px; }

.news-list__subheader {
  margin-bottom: 30px; }

.news-list__list-link {
  display: inline-block;
  color: #000;
  margin-bottom: 2px;
  position: relative;
  padding-right: 10px; }
  .news-list__list-link:hover .news-list__underline {
    border-bottom-color: transparent; }

.news-list__underline {
  border-bottom: solid 1px #000;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.news-list__list__icon:before {
  font-size: 13px;
  color: #000;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.news-list__item {
  float: left;
  width: 360px;
  text-align: left;
  margin: 0 10px;
  padding-right: 33px;
  position: relative; }
  .news-list__item:first-child {
    margin-left: 0; }
  .news-list__item:last-child {
    margin-right: 0; }
  .news-list__item:hover .news-list__btn {
    opacity: 1; }

.news-list-item__header {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 20px; }
  .news-list-item__header:hover .news-list-header__underline {
    border-bottom-color: #bcbcbc; }

.news-list-header__underline {
  border-bottom: solid 1px transparent;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.news-list-item__date {
  color: #808080;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-bottom: 20px; }

.news-list-item__text {
  font-weight: 300;
  line-height: 1.68;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .news-list-item__text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    opacity: 0;
    -webkit-box-shadow: inset 0px -20px 20px -15px #fff;
    -ms-box-shadow: inset 0px -20px 20px -15px #fff;
    box-shadow: inset 0px -20px 20px -15px #fff; }
  .news-list-item__text_collapse {
    max-height: 280px; }
    .news-list-item__text_collapse:after {
      opacity: 1; }

.news-list__btn {
  display: block;
  width: 170px;
  padding: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .news-list__btn_hide {
    display: none; }

.news-list__btn-link {
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 12px; }

.news-list__btn-icon:before {
  font-size: 15px;
  margin-right: 18px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
