
    <div class="news">
        {{#news}}
        <noindex>
            <div class="news__blocks">
                {{#new}}
                    <div class="news__block" id="{{strId}}">
                        <a href="{{link}}" class="link news-block__title" title="{{name}}">{{{name}}}</a>
                        {{#date}}
                            <div class="news-block__date">{{.}}</div>
                        {{/date}}
                        <div class="news-block__text">{{{text}}}</div>
                        <div class="btn btn_grey news__btn"><a href="{{link}}"
                                                               class="link btn__link news__btn-link icon icon_plus news__btn-icon"
                                                               title="Читать подробности">Читать подробности</a></div>
                    </div>
                {{/new}}
            </div>
        </noindex>
        {{/news}}
        {{{pager}}}
        {{#stub}}
            <div class="text text-wrap">
                <p>{{.}}</p>
            </div>
        {{/stub}}
    </div>

