.info {
  padding: 30px 30px 65px 30px; }

.info__block {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.info__table {
  width: 100%; }
  .info__table td, .info__table th {
    line-height: 1.3; }

.info__table_2-col td:nth-child(odd), .info__table_2-col th:nth-child(odd) {
  background-color: #f5f9fa;
  border-right: solid 1px #edf2f2;
  width: 400px; }

.info__table_2-col td:nth-child(even), .info__table_2-col th:nth-child(even) {
  width: 660px;
  background-color: #fafcfc; }

.info__table_3-col td:nth-child(3n+1), .info__table_3-col td:nth-child(3n+2) {
  background-color: #f5f9fa;
  width: 180px; }

.info__table_3-col td:nth-child(3n+3) {
  background-color: #fafcfc; }

.info__table_3-col th {
  background-color: #f0f4f5; }
  .info__table_3-col th:nth-child(3n+1), .info__table_3-col th:nth-child(3n+2) {
    width: 180px; }

.info__table-standards td:nth-child(3n+1), .info__table-standards td:nth-child(3n+2) {
  background-color: #f5f9fa; }

.info__table-standards td:nth-child(3n+3) {
  background-color: #fafcfc; }

.info__table-standards th {
  background-color: #f0f4f5; }

.info-table__item {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .info-table__item_active {
    display: table-row; }
  .info-table__item_in {
    opacity: 1;
    visibility: visible; }

.info__select-box {
  width: 130px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0; }
  .info__select-box_expand .info-select-box__current {
    border-top: solid 1px #e6eaeb;
    background-color: #f5f9fa;
    border-bottom-color: #f5f9fa;
    border-radius: 2px 2px 0 0; }
  .info__select-box_expand .info-select-box__icon:before {
    background-color: #4ce7fc;
    color: #fff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .info__select-box .nano .nano-pane {
    width: 5px;
    margin: 4px 0;
    background-color: #ebeff0;
    border-radius: 5px; }
  .info__select-box .nano .nano-slider {
    width: 5px;
    background-color: #d4d8d9;
    margin: auto;
    display: block;
    border-radius: 5px; }

.info-select-box-list__container {
  position: relative;
  z-index: 1; }
  .info-select-box-list__container_hide {
    display: none; }

.info-select-box__list {
  background-color: #f5f9fa;
  border-bottom: solid 1px #e6eaeb;
  height: 300px; }
  .info-select-box__list_hide {
    display: none; }
  .info-select-box__list .nano-content {
    padding: 5px 5px 5px 10px; }
  .info-select-box__list .info-select-box__item {
    font-family: "GothamPro", sans-serif;
    margin-bottom: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
    color: #7d7f80;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .info-select-box__list .info-select-box__item_active {
      display: none; }
    .info-select-box__list .info-select-box__item:hover {
      background-color: #ebeff0; }

.info-select-box__icon:before {
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: transparent;
  font-size: 6px;
  color: #848687;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.info-select-box__current {
  font-family: "GothamPro", sans-serif;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  border: none;
  background-color: #f7fafb;
  font-weight: 300;
  font-size: 12px;
  color: #7d7f80;
  text-align: left;
  cursor: pointer;
  border-top: solid 1px transparent;
  border-bottom: solid 1px #e6eaeb;
  border-radius: 2px; }
  .info-select-box__current:focus {
    outline: none; }

.info__link {
  color: #2e5a9d;
  text-decoration: none;
  border-bottom: solid 1px;
  padding-bottom: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  margin-top: 40px; }
  .info__link:hover {
    border-bottom-color: transparent; }
