<div class="sidebar {{addClass}}">
    <ul class="sidebar__menu">
        {{#items}}
            <li class="sidebar__item "><a href="{{link}}" class="link sidebar__link icon icon_stub {{icon}} {{activeItem}} {{calc}}" title="{{name}}">{{name}}</a></li>
        {{/items}}
    </ul>
</div>
