.auth {
  background-color: #fff; }

.auth-footer__link {
  font-weight: 300;
  font-size: 12px;
  color: #3f3f3f;
  border-bottom: solid 1px #dadada;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .auth-footer__link:first-child {
    margin-right: 15px; }
  .auth-footer__link:last-child {
    margin-left: 15px; }
  .auth-footer__link:hover {
    border-bottom-color: transparent; }

.auth__footer {
  text-align: left;
  width: 320px;
  margin: auto;
  margin-top: 5px; }
