.nav {
  width: 100%;
  border: solid 1px #e5e5e5; }

.nav__list {
  width: 1130px;
  float: left;
  list-style: none;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  position: relative; }

.nav__item {
  float: left;
  position: relative; }
  .nav__item_search {
    float: right; }

.nav__link {
  margin-top: -1px;
  padding: 22px 30px 24px 30px;
  display: inline-block;
  color: #000;
  border-top: solid 5px transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .nav__link:hover, .nav__link_active {
    border-top: solid 5px #2e5a9d; }
    .nav__link:hover:before, .nav__link_active:before {
      color: #2e5a9d; }
  .nav__link_active {
    cursor: default; }

.nav__icon:before {
  position: absolute;
  right: 7px;
  color: #000;
  top: 50%;
  font-size: 8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nav__sub {
  overflow: hidden;
  position: absolute;
  width: 100%;
  min-width: 260px;
  top: 100%;
  left: 0;
  visibility: hidden;
  margin-top: 1px;
  z-index: 1; }

.nav-sub__list {
  background-color: #fff;
  margin: 0;
  padding: 10px 15px;
  list-style: none;
  border: solid 1px #e5e5e5;
  border-top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s, transform 0s 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0s 0.3s, -webkit-transform 0s 0.3s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.nav-sub__link {
  display: block;
  color: #000;
  font-size: 14px;
  padding: 20px 25px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .nav-sub__link:hover, .nav-sub__link_active {
    background-color: #f2f2f2; }
  .nav-sub__link_active {
    cursor: default; }

.nav__trigger:hover .nav__sub {
  visibility: visible; }

.nav__trigger:hover .nav-sub__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.3s, visibility 0s, transform 0s;
  -webkit-transition: opacity 0.3s, visibility 0s, -webkit-transform 0s;
  transition: opacity 0.3s, visibility 0s, -webkit-transform 0s;
  transition: opacity 0.3s, visibility 0s, transform 0s;
  transition: opacity 0.3s, visibility 0s, transform 0s, -webkit-transform 0s; }

.nav__search {
  border: none;
  width: 20px;
  height: 68px;
  float: right;
  position: relative; }

.nav-search__input {
  width: 100%;
  padding: 12px 25px;
  margin: 14px 0;
  border: none;
  border-left: solid 1px #b2b2b2;
  background-color: #fff;
  color: #b2b2b2;
  font-size: 14px;
  font-family: "GothamPro", sans-serif; }
  .nav-search__input::-webkit-input-placeholder {
    color: #b2b2b2; }
  .nav-search__input:-ms-input-placeholder {
    color: #b2b2b2; }
  .nav-search__input::-moz-placeholder {
    color: #b2b2b2; }
  .nav-search__input:focus {
    outline: none; }

.nav-search-group {
  position: absolute;
  width: 0px;
  top: -1px;
  background-color: #fff;
  border-top: solid 1px #e5e5e5;
  right: 0;
  opacity: 0; }

.nav-search__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }
  .nav-search__icon.icon_magnifier:before {
    color: #000;
    font-size: 20px; }
  .nav-search__icon.icon_multiply:before {
    color: #000;
    font-size: 16px; }
  .nav-search__icon:focus .nav-search__input {
    display: block !important; }
