{{#news}}
<section class="news-list visibility">
    <div class="container">
        <h1 class="h1 news-list__header">Новости</h1>
        <div class="news-list__subheader">
            <a href="/about-the-company/news/" class="link news-list__list-link news-list__list__icon icon icon_arrow-right"
               title="Больше новостей"><span class="news-list__underline">Больше новостей</span></a>
        </div>
        <div class="news-list__list clearfix">
            <noindex>
            {{#articles}}
                <div class="news-list__item" id="{{strId}}">
                    <div class="news-list-item__header"><a href="{{link}}" title="{{name}}" class="link news-list-header__underline">{{{name}}}</a></div>
                    {{#date}}
                        <div class="news-list-item__date">{{.}}</div>
                    {{/date}}
                    <div class="news-list-item__text" data-item-id="{{counter}}">{{{text}}}</div>
                    <a href="{{link}}" class="btn btn_main btn_dark-border news-list__btn"><span
                            class="link btn__link news-list__btn-link icon icon_plus news-list__btn-icon">подробнее</span>
                    </a>
                </div>
            {{/articles}}
            </noindex>
        </div>
    </div>
</section>
{{/news}}