.vacancies {
  padding-top: 70px;
  padding-bottom: 68px; }

.vacancies__vacancy {
  border: solid 1px #cccccc;
  background-color: transparent;
  width: 840px;
  padding: 50px 60px 60px 60px;
  margin: 28px auto;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .vacancies__vacancy_expand {
    background-color: #f5f9fa;
    border-color: #f5f9fa; }

.vacancies-vacancy__title {
  font-size: 30px;
  letter-spacing: 0.7px;
  margin-bottom: 10px; }

.vacancies-vacancy__text {
  font-weight: 300;
  letter-spacing: 0.4px; }

.vacancies-vacancy__add {
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 35px;
  display: none; }

.vacancies-vacancy-add__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px; }

.vacancies-vacancy__list {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none; }

.vacancies-vacancy__item {
  position: relative;
  padding-left: 13px;
  margin-top: 7px; }
  .vacancies-vacancy__item:first-child {
    margin-top: 0; }
  .vacancies-vacancy__item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #000;
    height: 5px;
    width: 5px;
    border-radius: 50%; }

.vacancies-vacancy__modes, .vacancies-vacancy__conditions, .vacancies-vacancy__duty {
  margin-top: 35px; }

.vacancies-vacancy__footer {
  margin-top: 30px; }

.vacancies-vacancy__toggle {
  width: 140px;
  background-color: transparent;
  padding: 0;
  float: left;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .vacancies-vacancy__toggle .vacancies-vacancy__toggle-link {
    color: #010101; }

.vacancies-vacancy__toggle-link {
  font-size: 14px;
  font-weight: 300;
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.vacancies-vacancy__btn {
  width: 150px;
  background-color: #2e5a9d;
  float: left;
  -webkit-box-shadow: inset -150px 0 150px -75px #2a66c1;
  -ms-box-shadow: inset -150px 0 150px -75px #2a66c1;
  box-shadow: inset -150px 0 150px -75px #2a66c1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .vacancies-vacancy__btn .vacancies-vacancy__btn-link {
    color: #fff; }
  .vacancies-vacancy__btn:hover {
    background-color: #2a66c1;
    -webkit-box-shadow: inset 150px 0 150px -75px #2e5a9d;
    -ms-box-shadow: inset 150px 0 150px -75px #2e5a9d;
    box-shadow: inset 150px 0 150px -75px #2e5a9d; }

.vacancies-vacancy__btn-link {
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
