{{#orders}}
    <div class="my-order">
        <table class="my-order__table">
            <tbody>
            <tr>
                <th class="my-order-table__header">№ обращения</th>
                <th class="my-order-table__header">Дата обращения</th>
                <th class="my-order-table__header">Адрес присоединяемого объекта</th>
                <th class="my-order-table__header">Статус обращения</th>
            </tr>
            {{#order}}
                <tr id="{{strId}}">
                    <td class="my-order-table__cell">№ {{id}}</td>
                    <td class="my-order-table__cell">{{date}}</td>
                    <td class="my-order-table__cell">{{{address}}}</td>
                    <td class="my-order-table__cell {{statusClass}}">{{status}}</td>
                </tr>
            {{/order}}
            </tbody>
        </table>
    </div>
{{/orders}}
{{#empty}}
    <div class="text text-wrap">{{{.}}}</div>
    <script>
        var sidebar = $('.sidebar');

        if (sidebar.length) {
            sidebar.removeClass('sidebar_mid sidebar_tall');
        }
    </script>
{{/empty}}