{{#incomes}}
    <div class="info__block">
        <div class="info__block-container">
            <h2 class="h2 info__header">{{{title}}}</h2>
            <table class="info__table info__table-standards">
                <tbody>
                <tr>
                    <th>Дата события</th>
                    <th>Дата публикации</th>
                    <th>Событие</th>
                </tr>
                {{#income}}
                    <tr id="{{strId}}">
                        <td>{{eventDate}}</td>
                        <td>{{date}}</td>
                        <td>{{{text}}}</td>
                    </tr>
                {{/income}}
                </tbody>
            </table>
        </div>
    </div>
{{/incomes}}