.calc {
  padding-top: 55px;
  padding-bottom: 70px;
  width: 700px;
  border-radius: 5px; }
  .calc_ready {
    display: none; }
  .calc .calc__title-value {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1.25; }

.calc__form {
  width: 580px;
  margin: auto;
  position: relative; }
  .calc__form .calc__form-group {
    margin-top: 30px;
    position: relative;
    min-height: 62px; }
    .calc__form .calc__form-group_small {
      width: 280px;
      float: left;
      margin-top: 0;
      margin-right: 20px; }
      .calc__form .calc__form-group_small:nth-child(even) {
        margin-right: 0; }
    .calc__form .calc__form-group_big-offset {
      margin-top: 50px; }

.calc-form__btn {
  border: solid 1px #2a66c1;
  width: 100%;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  background-color: #2e5a9d;
  cursor: pointer;
  -webkit-box-shadow: inset -280px 0 280px -130px #2a66c1;
  -ms-box-shadow: inset -280px 0 280px -130px #2a66c1;
  box-shadow: inset -280px 0 280px -130px #2a66c1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px; }
  .calc-form__btn:hover {
    background-color: #2a66c1;
    -webkit-box-shadow: inset 280px 0 280px -130px #2e5a9d;
    -ms-box-shadow: inset 280px 0 280px -130px #2e5a9d;
    box-shadow: inset 280px 0 280px -130px #2e5a9d; }
  .calc-form__btn:focus {
    outline: none; }

.calc-form__btn-link {
  font-family: "GothamPro", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.calc__total {
  position: relative;
  padding-left: 80px; }

.calc-total__value-and-currency {
  font-size: 26px; }

.calc__total-value {
  font-weight: 700;
  color: #000; }

.calc__total-currency {
  font-family: "PTRoubleSans", sans-serif; }

.calc__close {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .calc__close:before {
    font-size: 10px; }
  .calc__close:hover {
    color: #2e5a9d; }
  .calc__close:focus {
    outline: none; }

.calc__success-message {
  width: 700px;
  background-color: #fff;
  padding: 60px;
  padding-bottom: 105px;
  text-align: center;
  display: none; }

.calc-success-message__icon {
  margin: auto;
  margin-bottom: 35px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 30px;
  border: solid 3px #2e5a9d;
  color: #2e5a9d;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%; }

.calc-success-message__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 25px;
  letter-spacing: 0.6px;
  line-height: 1.2; }

.calc-success-message__text {
  font-weight: 300;
  padding: 0 35px;
  letter-spacing: 0.4px;
  line-height: 1.7; }

.calc-success-message__link {
  color: #2e5a9d;
  border-bottom: solid 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .calc-success-message__link:hover {
    border-bottom-color: transparent; }
