.connection {
  padding-top: 90px; }

.connection__table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 100px; }

.connection__head-cell {
  padding: 20px 0;
  font-weight: 600;
  font-size: 20px; }

.connection__cell {
  font-size: 14px;
  font-weight: 300;
  background-color: #fafcfc;
  border-bottom: solid 1px #edf2f2;
  border-left: solid 1px #edf2f2;
  padding: 30px;
  line-height: 1.3; }
  .connection__cell_active {
    background-color: #f5f9fa;
    border-left: none;
    width: 525px; }

.connection__counter {
  counter-reset: item; }

.connection__counter-item {
  position: relative; }
  .connection__counter-item:before {
    content: counter(item);
    counter-increment: item;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .connection__counter-item_red:before {
    background-color: #ec433f; }
  .connection__counter-item_yellow:before {
    background-color: #f7da4a; }
  .connection__counter-item_green:before {
    background-color: #97e271; }

.connection__header {
  padding-left: 105px; }

.connection__link {
  color: #2a66c1;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .connection__link_underline {
    border-bottom: solid 1px; }
  .connection__link_dashed {
    border-bottom: dashed  1px; }
  .connection__link:hover {
    border-bottom-color: transparent; }
