.news-detail {
  padding-top: 99px;
  padding-bottom: 69px; }

.news-detail__container {
  width: 840px;
  margin: auto; }

.news-detail__header {
  font-size: 36px;
  letter-spacing: 1px; }

.news-detail__date {
  font-size: 12px;
  color: #808080;
  margin-top: 20px; }

.news-detail__img img {
  max-width: 840px; }
