{{#image}}
    <figure class="news-detail__img">
        <a href="{{src}}" title="{{title}}" data-fancybox="image" rel="nofollow">
            <img src="{{src}}"
                 alt="{{alt}}"
                 title="{{title}}"
                 width="{{width}}"
                 height="{{height}}">
        </a>
        {{#caption}}
            <figcaption>{{{caption}}}</figcaption>
        {{/caption}}
    </figure>
{{/image}}
