{{#article}}
    <div class="news-detail"  id="{{strID}}">
        <div class="news-detail__container">
            <div class="news-detail__header">{{name}}</div>
            {{#date}}
                <div class="news-detail__date">Дата публикации: {{.}}</div>
            {{/date}}
            <div class="news-detail__article text">
                {{{text}}}
            </div>
        </div>
    </div>
{{/article}}