.my-order {
  padding: 100px  30px 50px 30px;
  float: left;
  width: 910px; }

.my-order__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; }

.my-order-table__header {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  background-color: #f0f4f5;
  border-left: solid 1px #e6eaeb;
  border-bottom: solid 1px #e6eaeb;
  padding: 22px 25px; }
  .my-order-table__header:first-child {
    border-left: none; }

.my-order-table__cell {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.3px;
  background-color: #f5f9fa;
  border-left: solid 1px #edf2f2;
  border-bottom: solid 1px #edf2f2;
  padding: 22px 25px; }
  .my-order-table__cell:first-child {
    border-left: none; }
  .my-order-table__cell_apply {
    background-color: #e2f2da;
    border-color: #d6e6cf;
    color: #80bf60;
    font-weight: 400; }
  .my-order-table__cell_complete {
    background-color: #f0f4f5;
    border-color: #e6eaeb;
    font-weight: 400; }
  .my-order-table__cell_denied {
    background-color: #fae1e1;
    border-color: #f0d8d8;
    color: #c46f6d;
    font-weight: 400; }
  .my-order-table__cell_wait {
    background-color: #f7f3df;
    border-color: #ebe7d3;
    color: #d1b93f;
    font-weight: 400; }
