.pager {
  width: 100%;
  text-align: center; }

.pager__container {
  display: inline-block; }

.pager__nav {
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #909090;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: solid 1px #909090;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .pager__nav:before {
    display: inline-block; }
  .pager__nav:hover {
    border-color: #2e5a9d;
    color: #000; }

.pager__page {
  font-size: 14px;
  color: #7f7f7f;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%; }
  .pager__page:hover, .pager__page:focus, .pager__page_dest {
    color: #ffffff;
    background-color: #2e5a9d; }
