.header {
  background-color: #fff;
  padding-top: 39px;
  padding-bottom: 37px; }

.header__item {
  float: left; }
  .header__item:last-child {
    float: right; }

.header__brand {
  display: block;
  width: 261px;
  margin-right: 49px; }

.header__logo {
  display: block;
  width: 70px;
  height: 83px;
  background-image: url("/images/brand.png");
  background-repeat: no-repeat;
  background-position: center center;
  float: left; }

.header-brand__text {
  color: #000;
  font-weight: 700;
  margin-left: 20px;
  float: left;
  margin-top: 20px;
  display: block;
  text-transform: uppercase; }

.header__tel {
  position: relative;
  width: 280px;
  margin-left: 25px;
  margin-top: 15px;
  padding-left: 40px; }

.header-tel__icon:before {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 16px;
  color: #2e5a9d;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.header-tel__title {
  font-size: 14px;
  margin-bottom: 5px; }

.header-tel__text {
  font-size: 24px;
  font-weight: 300; }
  .header-tel__text b {
    font-weight: 900; }

.header__account {
  margin-top: 15px;
  width: 200px;
  text-align: center;
  position: relative; }
  .header__account:hover .header-account__sub {
    visibility: visible; }
  .header__account:hover .header-account__list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.2s, visibility 0s 0s, transform 0s 0s;
    -webkit-transition: opacity 0.2s, visibility 0s 0s, -webkit-transform 0s 0s;
    transition: opacity 0.2s, visibility 0s 0s, -webkit-transform 0s 0s;
    transition: opacity 0.2s, visibility 0s 0s, transform 0s 0s;
    transition: opacity 0.2s, visibility 0s 0s, transform 0s 0s, -webkit-transform 0s 0s; }

.header-account__link {
  border: solid 1px #2e5a9d;
  width: 100%;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  padding-top: 18px;
  padding-bottom: 14px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border-radius: 2px;
  -webkit-box-shadow: inset 100px 0 175px -50px transparent;
  -ms-box-shadow: inset 100px 0 175px -50px transparent;
  box-shadow: inset 100px 0 175px -50px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .header-account__link:hover {
    background-color: #2a66c1;
    -webkit-box-shadow: inset -150px 0 150px -50px #2e5a9d;
    -ms-box-shadow: inset -150px 0 150px -50px #2e5a9d;
    box-shadow: inset -150px 0 150px -50px #2e5a9d; }
    .header-account__link:hover, .header-account__link:hover:before, .header-account__link:hover:after {
      color: #fff;
      -webkit-text-fill-color: currentcolor; }

.header-account__icon:before, .header-account__icon:after {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 8px;
  color: #2e5a9d;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.header-account__icon:after {
  color: transparent;
  font-size: 8px;
  margin-left: 5px;
  margin-right: 0; }

.header-account__sub {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 100%;
  left: 0;
  visibility: hidden; }

.header-account__list {
  margin: 0;
  padding: 10px;
  list-style: none;
  position: relative;
  border: solid 1px #d4d8d9;
  border-top: none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s, transform 0 0.2s;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, transform 0 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, transform 0 0.2s, -webkit-transform 0 0.2s; }

.header-account__item {
  text-align: left; }

.header-account-item__link {
  font-weight: 300;
  font-size: 12px;
  color: #000;
  text-transform: none;
  letter-spacing: 0.3px;
  padding: 10px;
  padding-left: 35px;
  display: block;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header-account-item__link:hover {
    background-color: #f2f2f2; }

.header-account-item__icon:before {
  font-size: 16px;
  color: #d4d8d9;
  margin-right: 13px;
  vertical-align: middle;
  position: absolute;
  top: 9px;
  left: 10px; }

.header-account-item__icon:hover:before {
  color: #2e5a9d; }
