{{#outageList}}

    <table class="outage-list__list">
        <tbody>
            {{#row}}
                <tr>
                {{#outage}}
                    <td class="outage-list__item {{addClass}}"  id="{{strId}}">
                        {{#station}}
                            <div class="outage-list-item__block">
                                <div class="outage-list-item__title">Электроустановка</div>
                                <div class="outage-list-item__text">{{{.}}}</div>
                            </div>
                        {{/station}}
                        {{#date}}
                            <div class="outage-list-item__block">
                                <div class="outage-list-item__title">Время и Дата отключения и включения</div>
                                <div class="outage-list-item__text">{{{.}}}</div>
                            </div>
                        {{/date}}
                        {{#consumer}}
                            <div class="outage-list-item__block">
                                <div class="outage-list-item__title">Отключаемые потребители</div>
                                <div class="outage-list-item__text">{{{.}}}</div>
                            </div>
                        {{/consumer}}
                    </td>
                {{/outage}}
                </tr>
            {{/row}}
        </tbody>
    </table>
    {{{navString}}}
{{/outageList}}