.about-list {
  padding-top: 90px;
  padding-bottom: 30px; }

.about-list__header {
  text-align: center;
  margin-bottom: 40px; }

.about-list__text {
  width: 835px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.7;
  margin: auto; }
