.footer__contacts {
  padding-top: 70px;
  padding-bottom: 70px; }

.footer__contact {
  position: relative;
  float: left;
  width: 240px;
  text-align: right; }

.footer__contact__wide {
  width: 400px; }

.footer-contact__icon {
  text-align: center;
  height: 44px;
  width: 44px;
  line-height: 44px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #2e5a9d;
  -webkit-box-shadow: inset -44px 0 44px -22px #2a66c1;
  -ms-box-shadow: inset -44px 0 44px -22px #2a66c1;
  box-shadow: inset -44px 0 44px -22px #2a66c1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%; }
  .footer-contact__icon:before {
    font-size: 16px;
    color: #fff; }

.footer-contact__title-and-text {
  text-align: left;
  display: inline-block;
  letter-spacing: 0.4px;
  position: relative;
  padding-left: 60px; }

.footer-contact__text {
  font-weight: 600; }

.footer-contact__title {
  font-weight: 300;
  font-size: 12px;
  color: #808080; }

.footer__signs {
  background-color: #333333;
  padding-bottom: 25px;
  padding-top: 20px; }

.footer__copyright {
  color: #808080;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.4;
  width: 840px;
  float: left; }

.footer__dev-sign {
  font-size: 14px;
  float: right; }

.footer-dev-sign__title {
  color: #fff;
  margin-bottom: 3px; }

.footer-dev-sign__link {
  color: #2a66c1;
  border-bottom: solid 1px #2a66c1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .footer-dev-sign__link:hover {
    border-bottom-color: transparent; }
