.outage-list {
  background-color: #f5f9fa;
  padding-top: 90px;
  padding-bottom: 110px; }
  .outage-list_clear {
    background-color: transparent;
    padding-top: 100px;
    padding-bottom: 20px; }
    .outage-list_clear .pager {
      margin-top: 70px; }

.outage-list__header {
  text-align: center;
  padding: 0 70px;
  margin-bottom: 40px; }

.outage-list__subheader {
  text-align: center;
  margin-bottom: 10px; }

.outage-list__link {
  display: inline-block;
  color: #000;
  margin-bottom: 2px;
  position: relative;
  padding-right: 10px; }
  .outage-list__link:hover .outage-list__underline {
    border-bottom-color: transparent; }

.outage-list__icon:before {
  font-size: 13px;
  color: #000;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.outage-list__underline {
  border-bottom: solid 1px #000;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.outer-list-content-wrap {
  padding: 30px; }

.outage-list__list {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff; }

.outage-list__item {
  width: 50%;
  border: solid 1px #f3f3f3;
  vertical-align: top; }
  .outage-list__item_borderless {
    border: none; }

.outage-list-item__block {
  margin: 28px 30px; }

.outage-list-item__title {
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-bottom: 8px; }

.outage-list-item__text {
  font-weight: 600;
  letter-spacing: 0.5px; }
