.spoiler {
  cursor: pointer;
  border: solid 1px transparent; }
  .spoiler_active .spoiler-item__icon:after {
    color: #2e5a9d;
    border-color: #2e5a9d;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.spoiler-item__icon:after {
  position: absolute;
  top: 16px;
  right: 17px;
  height: 26px;
  width: 26px;
  line-height: 26px;
  border: solid 1px #cdcdcd;
  font-size: 4px;
  color: #cdcdcd;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  -webkit-transition: background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, transform 0.3s ease 0s;
  -webkit-transition: background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, -webkit-transform 0.3s ease 0s;
  transition: background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, -webkit-transform 0.3s ease 0s;
  transition: background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, transform 0.3s ease 0s;
  transition: background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.spoiler-item__title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  background-color: #f5f9fa;
  border-bottom: solid 1px #edf2f2;
  padding: 21px 70px 22px 65px;
  position: relative; }

.spoiler__hide-block {
  display: none; }
