.pop-up {
  display: none;
  position: absolute;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.pop-up__trigger {
  cursor: pointer;
  color: #9b9e9e;
  font-size: 10px;
  font-weight: 500;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  background-color: #e1e5e6;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: inset -17px 0 17px -8px transparent;
  -ms-box-shadow: inset -17px 0 17px -8px transparent;
  box-shadow: inset -17px 0 17px -8px transparent;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .pop-up__trigger:hover {
    background-color: #2e5a9d;
    color: #fff;
    -webkit-box-shadow: inset -17px 0 17px -8px #2a66c1;
    -ms-box-shadow: inset -17px 0 17px -8px #2a66c1;
    box-shadow: inset -17px 0 17px -8px #2a66c1; }
    .pop-up__trigger:hover .pop-up {
      display: block;
      opacity: 1;
      visibility: visible; }

.pop-up_grey {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  background-color: #b2b2b2;
  letter-spacing: 0.3px; }

.pop-up_above {
  bottom: 100%;
  margin-bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .pop-up_above:after {
    border: 4.5px solid transparent;
    border-top: 6px solid #b2b2b2;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.pop-up__hint {
  width: 310px;
  display: inline-block;
  padding: 17px 20px 16px 20px; }
