.question {
  padding-bottom: 94px;
  width: 840px;
  margin: auto; }

.question__left-col, .question__right-col {
  float: left; }

.question__left-col {
  width: 470px;
  text-align: left; }

.question__right-col {
  width: 370px;
  text-align: right; }

.question__desc {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 15px; }

.question__title-and-tel {
  display: inline-block;
  text-align: left; }

.question__title {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 3px; }

.question__tel {
  font-size: 30px; }
