<div class="vacancies visibility">
    {{#vacancies}}
        <div class="vacancies__vacancy" id="{{strId}}">
            <div class="vacancies-vacancy__title">
                {{{name}}}
            </div>
            <div class="vacancies-vacancy__text">
                {{#salary}}<span class="vacancies-vacancy__salary">{{{.}}}</span>{{/salary}}{{coma}}{{#exp}}<span class="experience">опыт работы {{{.}}}</span>{{/exp}}
            </div>
            {{#isHiderSet}}
                <div class="vacancies-vacancy__add">
                    {{#duties}}
                        <div class="vacancies-vacancy__duty">
                            <div class="vacancies-vacancy-add__title">
                                Должностные обязанности
                            </div>
                            <div class="vacancies-vacancy__text">
                                {{{.}}}
                            </div>
                        </div>
                    {{/duties}}
                    {{#isConditions}}
                        <div class="vacancies-vacancy__conditions">
                            <div class="vacancies-vacancy-add__title">
                                Требования
                            </div>
                            <ul class="vacancies-vacancy__list">
                                {{#conditions}}
                                    <li class="vacancies-vacancy__item">{{{.}}}</li>
                                {{/conditions}}
                            </ul>
                        </div>
                    {{/isConditions}}
                    {{#isDemands}}
                        <div class="vacancies-vacancy__modes">
                            <div class="vacancies-vacancy-add__title">
                                Условия работы
                            </div>
                            <ul class="vacancies-vacancy__list">
                                {{#demands}}
                                    <li class="vacancies-vacancy__item">{{{.}}}</li>
                                {{/demands}}
                            </ul>
                        </div>
                    {{/isDemands}}
                    {{#isAdd}}
                        <div class="vacancies-vacancy__modes">
                            <div class="vacancies-vacancy-add__title">
                                Дополнительно
                            </div>
                            <ul class="vacancies-vacancy__list">
                                {{#add}}
                                    <li class="vacancies-vacancy__item">{{{.}}}</li>
                                {{/add}}
                            </ul>
                        </div>
                    {{/isAdd}}
                </div>
            {{/isHiderSet}}
            <div class="vacancies-vacancy__footer clearfix">
                {{#isHiderSet}}<button class="btn btn_grey vacancies-vacancy__toggle"> <span class="link btn__link vacancies-vacancy__toggle-link">Подробнее</span> </button>{{/isHiderSet}}
                <div class="btn vacancies-vacancy__btn">
                    <a href="#vacancy" class="link btn__link vacancies-vacancy__btn-link feedback-form-link" title="Откликнуться">Откликнуться</a>
                </div>
            </div>
        </div>
    {{/vacancies}}
</div>