.text p {
  margin: 11px 0;
  letter-spacing: 0.5px;
  line-height: 1.7;
  font-size: 18px;
  font-weight: 300; }
  .text p a {
    color: #2e5a9d;
    text-decoration: none;
    border-bottom: solid 1px;
    padding-bottom: 1px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .text p a:hover {
      border-bottom-color: transparent; }

.text figure {
  margin: 60px 0;
  padding: 0;
  position: relative; }
  .text figure a:focus {
    outline: none; }
  .text figure figcaption {
    position: absolute;
    width: 510px;
    bottom: 40px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    padding: 35px;
    line-height: 1.7;
    letter-spacing: 0.4px; }

.text h1, .text h2, .text h3, .text h4 {
  margin-top: 55px; }

.text blockquote {
  background-color: #f5f9fa;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 1.7;
  padding: 50px;
  padding-left: 184px;
  margin: 60px 0;
  position: relative;
  border-radius: 2px; }
  .text blockquote:before {
    content: "\e916";
    font-family: "icomoon";
    font-size: 70px;
    color: #ebeff0;
    position: absolute;
    top: 53px;
    left: 53px;
    font-style: normal; }
  .text blockquote b {
    font-weight: 600;
    margin-top: 10px;
    display: inline-block; }

.text ol {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  counter-reset: item; }
  .text ol li {
    position: relative;
    padding-left: 30px;
    letter-spacing: 0.4px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 30px; }
    .text ol li:last-child {
      margin-bottom: 0; }
    .text ol li:before {
      content: counter(item) ;
      counter-increment: item;
      color: #7d7f80;
      font-size: 18px;
      font-weight: 900;
      position: absolute;
      top: 0;
      left: 0; }

.text ul {
  padding: 0;
  list-style: none; }
  .text ul li {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 1.6;
    padding-left: 14px;
    position: relative; }
    .text ul li:before {
      content: '';
      height: 5px;
      width: 5px;
      background-color: #000;
      position: absolute;
      top: 11px;
      left: 0;
      border-radius: 50%; }

.text table {
  border-collapse: collapse;
  margin: 30px 0; }
  .text table td, .text table th {
    font-size: 14px;
    color: #000;
    padding: 21px 18px;
    letter-spacing: 0.4px; }
    .text table td:last-child, .text table th:last-child {
      border-right: none; }
  .text table td {
    font-weight: 300;
    border-right: solid 1px #edf2f2;
    border-bottom: solid 1px #edf2f2; }
  .text table th {
    text-align: left;
    font-weight: 600;
    border-right: solid 1px #e6eaeb;
    border-bottom: solid 1px #e6eaeb; }
  .text table a {
    color: #2e5a9d;
    text-decoration: none;
    border-bottom: solid 1px #2e5a9d;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .text table a:hover {
      border-bottom-color: transparent; }
  .text table a[href^="mailto:"] {
    border-bottom: dashed 1px #2e5a9d; }
    .text table a[href^="mailto:"]:hover {
      border-bottom-color: transparent; }

.text-wrap {
  padding-top: 50px;
  padding-bottom: 70px; }
