.sidebar {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-top: 50px; }
  .sidebar_tall {
    margin-top: 233px; }
  .sidebar_mid {
    margin-top: 100px; }

.sidebar__menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar__link {
  display: inline-block;
  position: relative;
  width: 100%;
  color: #000;
  font-size: 13px;
  font-weight: 300;
  padding: 13px 12px 11px 12px;
  letter-spacing: 0.4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #fff; }
  .sidebar__link:before {
    font-size: 16px;
    font-weight: 400;
    color: #d4d8d9;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
    /* IE 8-9 */
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    /* Firefox 3.6-15 */
    /* IE 11 */
    /* Opera 11.1-12 */
    background: -webkit-gradient(linear, right top, left top, from(#d4d8d9), to(#d4d8d9));
    background: linear-gradient(-90deg, #d4d8d9 0%, #d4d8d9 100%);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .sidebar__link:hover, .sidebar__link_active {
    background-color: #f2f2f2; }
    .sidebar__link:hover:before, .sidebar__link_active:before {
      font-weight: 400;
      color: #2a66c1;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
      /* IE 8-9 */
      /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
      /* Firefox 3.6-15 */
      /* IE 11 */
      /* Opera 11.1-12 */
      background: -webkit-gradient(linear, right top, left top, from(#2e5a9d), to(#2a66c1));
      background: linear-gradient(-90deg, #2e5a9d, #2a66c1);
      /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
