<div class="feedback-success-message">
    <div class="feedback-success-message__icon icon icon_thumb"></div>
    <div class="feedback-success-message__title">{{{title}}}</div>
    <div class="feedback-success-message__text">{{{text}}}</div>
</div>