.banner-on-main {
  height: 615px;
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative; }

.banner-on-main-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.banner-on-main__title {
  font-size: 52px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-shadow: 0px 2px 4px rgba(8, 10, 12, 0.1), 0px 4px 20px rgba(8, 10, 12, 0.2);
  margin-bottom: 25px; }

.banner-on-main__subtitle {
  font-size: 26px;
  color: #fff;
  letter-spacing: 0.7px;
  margin: 0 280px; }
