.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 2px; }
  .btn:focus {
    outline: none; }

.btn__link {
  width: 100%;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn__link:focus {
    outline: none; }

.btn_main {
  background-color: transparent;
  position: relative;
  -webkit-box-shadow: inset 100px 0 175px -50px transparent;
  -ms-box-shadow: inset 100px 0 175px -50px transparent;
  box-shadow: inset 100px 0 175px -50px transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn_main, .btn_main .btn__link {
    color: #000; }
  .btn_main:hover {
    background-color: #2a66c1;
    -webkit-box-shadow: inset -100px 0 100px -50px #2e5a9d;
    -ms-box-shadow: inset -100px 0 100px -50px #2e5a9d;
    box-shadow: inset -100px 0 100px -50px #2e5a9d; }
    .btn_main:hover, .btn_main:hover .btn__link, .btn_main:hover .btn__link:before {
      color: #fff; }

.btn_dark-border {
  border: solid 1px #000; }
  .btn_dark-border:hover {
    border: solid 1px #2a66c1; }

.btn_grey {
  background-color: transparent;
  position: relative;
  border: solid 1px #e5e5e5;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn_grey, .btn_grey .btn__link {
    color: #808080; }
  .btn_grey:hover {
    border-color: #2e5a9d; }
    .btn_grey:hover, .btn_grey:hover .btn__link, .btn_grey:hover .btn__link:before {
      color: #000; }
