{{#news}}
<noindex>
    <div class="info__block">
        <div class="info__block-container">
            <h2 class="h2 info__header">Существенные события</h2>
            <div class="info__select-box visibility">
                <button class="info-select-box__current icon icon_thin-angle-down info-select-box__icon">{{current}} г.</button>
                <div class="info-select-box__list nano info__nano">
                    <div class="nano-content">
                        {{#year}}
                            <div class="info-select-box__item {{addClass}}"><span class="info-select-box__value">{{name}}</span> г.</div>
                        {{/year}}
                    </div>
                </div>
            </div>
            <table class="info__table info__table_3-col">
                <tbody>
                <tr>
                    <th>Дата события</th>
                    <th>Дата публикации</th>
                    <th>Событие</th>
                </tr>
                {{#events}}
                    <tr class="{{activeClass}}" data-filter="{{year}}" id="{{strId}}">
                        <td>{{eventDate}}</td>
                        <td>{{date}}</td>
                        <td><a href="{{link}}" title="{{name}}">{{name}}</a></td>
                    </tr>
                {{/events}}
                </tbody>
            </table>
        </div>
    </div>
</noindex>
{{/news}}