@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?rygt6h");
  src: url("fonts/icomoon.eot?rygt6h#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?rygt6h") format("truetype"), url("fonts/icomoon.woff?rygt6h") format("woff"), url("fonts/icomoon.svg?rygt6h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before, .icon:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_divide:before {
  content: "\e921"; }

.icon_list-checked:before {
  content: "\e922"; }

.icon_clock:before {
  content: "\e923"; }

.icon_key:before {
  content: "\e91f"; }

.icon_door:before {
  content: "\e91b"; }

.icon_gear:before {
  content: "\e91c"; }

.icon_list:before {
  content: "\e91d"; }

.icon_file:before {
  content: "\e91e"; }

.icon_calculator:before {
  content: "\e91a"; }

.icon_upload:before {
  content: "\e919"; }

.icon_thumb:before {
  content: "\e918"; }

.icon_fax:before {
  content: "\e917"; }

.icon_quotes:before {
  content: "\e916"; }

.icon_thin-angle-down:before {
  content: "\e906"; }

.icon_thin-angle-left:before {
  content: "\e907"; }

.icon_thin-angle-up:before {
  content: "\e908"; }

.icon_thin-angle-right:before {
  content: "\e909"; }

.icon_long-arrow-right:before {
  content: "\e911"; }

.icon_arrow-down:before {
  content: "\e900"; }

.icon_arrow-up:before {
  content: "\e901"; }

.icon_arrow-right:before {
  content: "\e902"; }

.icon_arrow-left:before {
  content: "\e903"; }

.icon_checked:before {
  content: "\e904"; }

.icon_multiply:before {
  content: "\e905"; }

.icon_arrow-angle-down:before {
  content: "\e912"; }

.icon_arrow-angle-right:before {
  content: "\e913"; }

.icon_arrow-angle-left:before {
  content: "\e914"; }

.icon_arrow-angle-up:before {
  content: "\e915"; }

.icon_plus:before {
  content: "\e90a"; }

.icon_calling:before {
  content: "\e90b"; }

.icon_envelope:before {
  content: "\e90c"; }

.icon_magnifier:before {
  content: "\e90d"; }

.icon_pin:before {
  content: "\e90e"; }

.icon_tel:before {
  content: "\e90f"; }

.icon_user:before {
  content: "\e910"; }

.icon_breadcrumbs-arrow:before {
  content: "\e920"; }

.icon:before, .icon:after {
  font-family: 'icomoon' !important; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .icon:before, .icon:after {
      background: none !important; } }

.icon_arrow-right_after:after {
  content: "\e902"; }

.icon_arrow-angle-down_after:after {
  content: "\e912"; }

.icon_stub:before {
  content: ''; }
