<ul class="nav__list clearfix">
    {{#items}}
        <li class="nav__item nav__trigger"><a href="{{link}}" class="link nav__link {{activeItem}} {{arrow}}" title="{{name}}">{{name}}</a>
            {{#hasChild}}
                <div class="nav__sub">
                    <ul class="nav-sub__list">
                        {{#child}}
                            <li class="nav-sub__item"><a href="{{link}}" class="link nav-sub__link {{activeItem}}" title="{{name}}">{{name}}</a></li>
                        {{/child}}
                    </ul>
                </div>
            {{/hasChild}}
        </li>
    {{/items}}
</ul>
