@charset "UTF-8";
/**
* Форма обратной связи
* #Заголовок
* #Контейнер контрола
* #Контрол
* #Checkbox / Radio
* #Range
* #Описание поля
* #Submit
* #Footnote
* #Модальная
* #Сообщение после отправки
* #Капча
 */
.feedback-form {
  margin: auto; }
  .feedback-form_auth {
    width: 600px;
    margin: auto; }

.feedback-form_tall .feedback-form__submit {
  margin-top: 30px; }

.feedback-form_tall .feedback-form__user-consent {
  margin-top: 30px; }

.feedback-form_tall .feedback-form__control_type_textarea {
  height: 130px; }

/* #Заголовок */
.feedback-form__title {
  margin-bottom: 40px; }

.feedback-form__title-value {
  line-height: 1;
  margin: 0;
  color: #000 !important;
  font-size: 36px;
  font-weight: 400;
  text-transform: none; }

/* #Контейнер контрола */
.feedback-form__group {
  margin-top: 20px;
  width: 100%;
  position: relative;
  outline: solid 1px transparent;
  border: solid 1px transparent;
  -webkit-transition: 0.15s;
  transition: 0.15s; }
  .feedback-form__group_has-error .feedback-form__control {
    border: solid 1px #dc4848 !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px transparent !important;
    -ms-box-shadow: inset 0px 1px 0px 0px transparent !important;
    box-shadow: inset 0px 1px 0px 0px transparent !important; }
  .feedback-form__group_has-error .spoiler {
    border: solid 1px #dc4848 !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px transparent !important;
    -ms-box-shadow: inset 0px 1px 0px 0px transparent !important;
    box-shadow: inset 0px 1px 0px 0px transparent !important; }
  .feedback-form__group_has-error .feedback-form__pseudo-file-control {
    border-color: #dc4848;
    color: #dc4848; }
  .feedback-form__group_has-error .application__pseudo-file-link {
    border-color: #dc4848;
    color: #dc4848; }
  .feedback-form__group_has-error .feedback-form__control_type_list_pseudo {
    border: solid 1px #dc4848 !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px transparent !important;
    -ms-box-shadow: inset 0px 1px 0px 0px transparent !important;
    box-shadow: inset 0px 1px 0px 0px transparent !important; }

/* #Контрол */
/*.feedback-form__control_has-error,
.feedback-form__control_type_list_pseudo_has-error{
    border: solid 1px #dc4848!important;
    @include box-shadow(inset 0px 1px 0px 0px transparent!important);
}*/
.feedback-form__control:not(.feedback-form__control_type_file),
.feedback-form__control_type_list_pseudo {
  width: 100%;
  color: #afb2b2;
  font-size: 14px;
  font-weight: 300;
  font-family: "GothamPro", sans-serif;
  display: block;
  background-color: #f5f9fa;
  padding: 21px 25px;
  border: solid 1px transparent;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e8eced;
  -ms-box-shadow: inset 0px 1px 0px 0px #e8eced;
  box-shadow: inset 0px 1px 0px 0px #e8eced; }
  .feedback-form__control:not(.feedback-form__control_type_file)::-webkit-input-placeholder,
  .feedback-form__control_type_list_pseudo::-webkit-input-placeholder {
    color: #afb2b2; }
  .feedback-form__control:not(.feedback-form__control_type_file):-ms-input-placeholder,
  .feedback-form__control_type_list_pseudo:-ms-input-placeholder {
    color: #afb2b2; }
  .feedback-form__control:not(.feedback-form__control_type_file)::-moz-placeholder,
  .feedback-form__control_type_list_pseudo::-moz-placeholder {
    color: #afb2b2; }
  .feedback-form__control:not(.feedback-form__control_type_file):focus,
  .feedback-form__control_type_list_pseudo:focus {
    outline: none; }

.feedback-form__control_type_textarea {
  resize: vertical; }

.feedback-form__control_type_list_hidden {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0; }

.feedback-form__control_type_current-option {
  color: #4c4c4c;
  background-color: #f5f9fa;
  display: inline-block;
  height: 16px;
  overflow: hidden; }

.feedback-form__control_type_list_pseudo {
  text-align: left;
  padding: 19px 50px 20px 25px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .feedback-form__control_type_list_pseudo_expand {
    border-radius: 3px 3px 0 0; }
    .feedback-form__control_type_list_pseudo_expand ~ .feedback-form__control_type_options {
      -webkit-box-shadow: 0px 1px 0px 0px #e8eced;
      -ms-box-shadow: 0px 1px 0px 0px #e8eced;
      box-shadow: 0px 1px 0px 0px #e8eced; }
    .feedback-form__control_type_list_pseudo_expand .feedback-form__icon {
      background-color: #2a66c1;
      color: #fff;
      -webkit-box-shadow: inset -20px 0px 20px -10px #2e5a9d;
      -ms-box-shadow: inset -20px 0px 20px -10px #2e5a9d;
      box-shadow: inset -20px 0px 20px -10px #2e5a9d;
      -webkit-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg); }

.feedback-form__icon {
  height: 20px;
  width: 20px;
  line-height: 16px;
  position: absolute;
  background-color: transparent;
  top: 50%;
  right: 23px;
  text-align: center;
  color: #848687;
  -webkit-box-shadow: inset -20px 0px 20px -10px transparent;
  -ms-box-shadow: inset -20px 0px 20px -10px transparent;
  box-shadow: inset -20px 0px 20px -10px transparent;
  border-radius: 2px;
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .feedback-form__icon:before {
    font-size: 6px; }

.feedback-form__control_type_options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 210px;
  text-align: left;
  z-index: 6;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 0px 0px transparent;
  -ms-box-shadow: 0px 1px 0px 0px transparent;
  box-shadow: 0px 1px 0px 0px transparent; }
  .feedback-form__control_type_options_hide {
    display: none; }
  .feedback-form__control_type_options .nano-pane {
    width: 5px;
    margin: 20px 5px;
    background-color: #ebeff0;
    border-radius: 5px; }
  .feedback-form__control_type_options .nano-slider {
    width: 5px;
    background-color: #d4d8d9;
    margin: auto;
    display: block;
    border-radius: 5px; }

.feedback-form__options-container {
  overflow: hidden;
  margin: 0;
  background: #f5f9fa;
  padding: 10px 15px 20px 10px;
  list-style: none;
  border-radius: 0 0 3px 3px; }

.feedback-form__control_type_option {
  background-color: #f5f9fa;
  border: none;
  width: 100%;
  color: #afb2b2;
  font-weight: 300;
  font-size: 14px;
  padding: 12px 14px;
  font-family: "GothamPro", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  /* &:first-child{
    &:hover,
    &:focus{
      background-color: #f5f9fa;
      outline: none;
      cursor: default;
    }
  }*/ }
  .feedback-form__control_type_option:hover, .feedback-form__control_type_option_active {
    background-color: #ebeff0; }
  .feedback-form__control_type_option:focus {
    outline: none; }

/* #Checkbox / Radio */
.feedback-form__user-consent {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left; }

.custom-control {
  cursor: pointer;
  width: 100%;
  margin-top: 12px; }

.custom-control__input {
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0; }

.custom-control__indicator {
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  background-color: #f5f9fa;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e8eced;
  -ms-box-shadow: inset 0px 1px 0px 0px #e8eced;
  box-shadow: inset 0px 1px 0px 0px #e8eced; }
  .custom-control__indicator:before {
    vertical-align: middle;
    display: inline-block;
    font-family: "icomoon";
    font-size: 10px;
    font-weight: 700 !important;
    color: transparent; }

.custom-control__name {
  font-size: 12px;
  font-weight: 300;
  color: #000; }

.custom-control_type_checkbox .custom-control__input:checked ~ .custom-control__indicator:before {
  color: #2e5a9d; }

.custom-control__link {
  color: #2e5a9d;
  font-size: 12px;
  font-weight: 300;
  border-bottom: solid 1px #2a66c1;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .custom-control__link:hover {
    border-bottom-color: transparent; }

/* #File*/
.feedback-form__control_type_file {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden; }

.feedback-form__pseudo-file-control {
  height: 50px;
  line-height: 46px;
  width: 100%;
  display: block;
  border: dashed 1px #2e5a9d;
  color: #2e5a9d; }
  .feedback-form__pseudo-file-control:before {
    font-size: 14px;
    vertical-align: middle; }
  .feedback-form__pseudo-file-control_has-error {
    border-color: #dc4b4b;
    color: #dc4848; }
    .feedback-form__pseudo-file-control_has-error .feedback-form__link,
    .feedback-form__pseudo-file-control_has-error .application__pseudo-file-link {
      border-bottom-color: #dc4848;
      color: #dc4848; }
  .feedback-form__pseudo-file-control .feedback-form__link {
    font-size: 16px;
    font-weight: 400;
    border-bottom: dashed 1px #2e5a9d;
    color: #2e5a9d;
    margin-left: 10px;
    margin-right: 5px;
    padding-bottom: 2px; }
    .feedback-form__pseudo-file-control .feedback-form__link:before {
      font-size: 20px; }
  .feedback-form__pseudo-file-control:hover .feedback-form__link {
    border-bottom-color: transparent; }

.feedback-form__files-list {
  font-size: 14px;
  color: #00a5bd;
  margin-top: 5px; }

/* #Radio */
.feedback-form__radio-list {
  width: 300px;
  float: right; }

.feedback-form__radio-item {
  position: relative;
  margin-bottom: 17px; }

.feedback-form__control_type_radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  z-index: -1; }
  .feedback-form__control_type_radio:checked + .feedback-form__radio-pseudo-item .feedback-form__radio-marker:before {
    background-color: #2e5a9d; }

.feedback-form__radio-pseudo-item {
  font-family: "GothamPro", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  padding-left: 42px;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.3px; }

.feedback-form__radio-marker {
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: #f5f9fa;
  border: solid 1px transparent;
  border-top-color: #e9edee;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .feedback-form__radio-marker:before {
    content: '';
    background-color: transparent;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }

/* #Range */
.feedback-form__range {
  margin-bottom: 10px;
  margin-top: 5px; }

.feedback-form__range-track {
  background-color: #ebeff0;
  height: 10px !important;
  margin-left: 20px;
  margin-right: 20px;
  position: relative; }
  .feedback-form__range-track:before, .feedback-form__range-track:after {
    content: '';
    width: 20px;
    height: 10px;
    background-color: #ebeff0;
    position: absolute;
    top: 0; }
  .feedback-form__range-track:before {
    right: 100%;
    border-radius: 5px 0 0 5px; }
  .feedback-form__range-track:after {
    left: 100%;
    border-radius: 0 5px 5px 0; }

.feedback-form__range-handle {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  left: 0;
  cursor: pointer;
  background-color: #2e5a9d;
  z-index: 2;
  border-radius: 50%;
  -webkit-box-shadow: inset -20px 0 20px -10px #2a66c1;
  -ms-box-shadow: inset -20px 0 20px -10px #2a66c1;
  box-shadow: inset -20px 0 20px -10px #2a66c1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .feedback-form__range-handle:focus {
    outline: none; }

.feedback-form__range-list {
  height: 25px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px; }

.feedback-form__range-item {
  font-weight: 300;
  font-size: 10px;
  color: #afb2b2;
  text-align: center;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .feedback-form__range-item:before {
    content: '|';
    display: block;
    width: 20px;
    padding-bottom: 3px; }

.feedback-form__range-list-container {
  position: relative;
  height: 1px;
  left: -10px; }

/* #Submit */
.feedback-form__submit {
  border: solid 1px #2a66c1;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  margin-top: 20px;
  background-color: #2e5a9d;
  cursor: pointer;
  -webkit-box-shadow: inset -320px 0 320px -160px #2a66c1;
  -ms-box-shadow: inset -320px 0 320px -160px #2a66c1;
  box-shadow: inset -320px 0 320px -160px #2a66c1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px; }
  .feedback-form__submit .btn__link {
    font-family: "GothamPro", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .feedback-form__submit:hover {
    background-color: #2a66c1;
    -webkit-box-shadow: inset -320px 0 320px -160px #2e5a9d;
    -ms-box-shadow: inset -320px 0 320px -160px #2e5a9d;
    box-shadow: inset -320px 0 320px -160px #2e5a9d; }
  .feedback-form__submit:focus {
    outline: none; }
  .feedback-form__submit:disabled, .feedback-form__submit:disabled:hover {
    border-color: #b7b7b7;
    color: #A4A4A4;
    cursor: no-drop;
    background-color: #fff;
    -webkit-box-shadow: inset 320px 0 320px -160px transparent;
    -ms-box-shadow: inset 320px 0 320px -160px transparent;
    box-shadow: inset 320px 0 320px -160px transparent; }
    .feedback-form__submit:disabled .btn__link, .feedback-form__submit:disabled:hover .btn__link {
      color: #b7b7b7; }

.feedback-form__submit_narrow {
  width: 260px; }

/* #Footnote */
.feedback-form__footnote {
  font-size: 11px;
  line-height: 12px;
  color: #3c3c3c;
  margin-top: 10px; }

/* #Модальная */
.feedback-form-modal-wrap {
  border: none;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #fff;
  display: none;
  padding: 90px 60px 100px 60px;
  width: 440px;
  border-radius: 2px; }

.feedback-form-modal-wrap_short {
  padding-bottom: 60px; }

.feedback-form_modal {
  width: 320px; }

.feedback-form__close {
  position: absolute;
  top: 35px;
  right: 40px;
  cursor: pointer;
  height: 12px;
  width: 12px;
  z-index: 1; }
  .feedback-form__close:before {
    color: #000;
    font-size: 12px; }

/* #Сообщение после отправки */
.feedback-success-message {
  text-align: center;
  width: 400px; }

.feedback-success-message__icon {
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 132px;
  border: solid 5px #4ee8fe;
  margin: auto;
  margin-top: 50px;
  color: #2e5a9d;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%; }
  .feedback-success-message__icon:before {
    color: #00a5bd;
    font-size: 60px; }

.feedback-success-message__title {
  font-size: 36px;
  line-height: 1; }

.feedback-success-message__text {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 32px; }

.feedback-form__label {
  font-weight: 300;
  color: #7d8282;
  font-size: 13px;
  margin-bottom: 20px;
  margin-right: 3px;
  display: inline-block;
  letter-spacing: 0.3px;
  line-height: 1.4; }
  .feedback-form__label_small {
    width: 300px;
    float: left; }
  .feedback-form__label_middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .feedback-form__label_wo-offset {
    margin-bottom: 0; }

.feedback-form__form-link {
  font-weight: 300;
  font-size: 12px;
  color: #00a5bd;
  border-bottom: solid 1px #00a5bd;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .feedback-form__form-link:hover {
    border-bottom-color: transparent; }

.feedback-form__info {
  width: 600px;
  margin: auto;
  display: block; }
