.error {
  margin: auto;
  text-align: center;
  padding-top: 70px; }

.error__404 {
  font-size: 200px;
  font-weight: 900;
  color: #2e5a9d;
  line-height: 1;
  margin-bottom: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#2a66c1), to(#2e5a9d));
  background: linear-gradient(-90deg, #2a66c1, #2e5a9d);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.error__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px; }

.error__btn {
  margin: auto;
  width: 220px;
  border: solid 2px #2e5a9d;
  border-radius: 2px; }

.error__btn-link {
  padding-top: 19px;
  padding-bottom: 19px; }
